body
{
  background-color: black;
  color: orange;
  text-align: center;
}
.scary_house_img
{
    width: 300px;
    height: 300px;
}
.objects
{
    height: 200px;
    width: 200px;
}
.text
{
    display: none;
}
.button1 
{
    background-color: orange;
    color: white;
    border-radius: 15px;
    width: 100px;
    height: 100px;
    text-decoration: none;
    text-align: center;
    margin-left: 700px;
}
a
{
    text-decoration: none;
}
